src/META-INF/wsdl/localhost_8080/WebService/WService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://feevale.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://feevale.br/">

<xs:element name="Advinhar" type="tns:Advinhar"/>

<xs:element name="AdvinharResponse" type="tns:AdvinharResponse"/>

<xs:element name="ConsultaPreco" type="tns:ConsultaPreco"/>

<xs:element name="ConsultaPrecoResponse" type="tns:ConsultaPrecoResponse"/>

<xs:element name="soma" type="tns:soma"/>

<xs:element name="somaResponse" type="tns:somaResponse"/>

<xs:complexType name="soma">
<xs:sequence>
<xs:element name="valor1" type="xs:double"/>
<xs:element name="valor2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaPreco">
<xs:sequence>
<xs:element name="nomeProduto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaPrecoResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Advinhar">
<xs:sequence>
<xs:element name="valor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdvinharResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>