src/META-INF/wsdl/localhost_8080/WebService/WService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://feevale.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://feevale.br/" name="WService">
<types>
<xsd:schema>
<xsd:import namespace="http://feevale.br/" schemaLocation="http://localhost:8080/WebService/WService?xsd=1"/>
</xsd:schema>
</types>
<message name="Advinhar">
<part name="parameters" element="tns:Advinhar"/>
</message>
<message name="AdvinharResponse">
<part name="parameters" element="tns:AdvinharResponse"/>
</message>
<message name="soma">
<part name="parameters" element="tns:soma"/>
</message>
<message name="somaResponse">
<part name="parameters" element="tns:somaResponse"/>
</message>
<message name="ConsultaPreco">
<part name="parameters" element="tns:ConsultaPreco"/>
</message>
<message name="ConsultaPrecoResponse">
<part name="parameters" element="tns:ConsultaPrecoResponse"/>
</message>
<portType name="WService">
<operation name="Advinhar">
<input wsam:Action="http://feevale.br/WService/AdvinharRequest" message="tns:Advinhar"/>
<output wsam:Action="http://feevale.br/WService/AdvinharResponse" message="tns:AdvinharResponse"/>
</operation>
<operation name="soma">
<input wsam:Action="http://feevale.br/WService/somaRequest" message="tns:soma"/>
<output wsam:Action="http://feevale.br/WService/somaResponse" message="tns:somaResponse"/>
</operation>
<operation name="ConsultaPreco">
<input wsam:Action="http://feevale.br/WService/ConsultaPrecoRequest" message="tns:ConsultaPreco"/>
<output wsam:Action="http://feevale.br/WService/ConsultaPrecoResponse" message="tns:ConsultaPrecoResponse"/>
</operation>
</portType>
<binding name="WServicePortBinding" type="tns:WService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Advinhar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaPreco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WService">
<port name="WServicePort" binding="tns:WServicePortBinding">
<soap:address location="http://localhost:8080/WebService/WService"/>
</port>
</service>
</definitions>